$colorprincipal: linear-gradient(90deg, rgba(2,0,27,1) 0%, rgba(5,5,92,1) 42%, rgba(10,178,212,1) 100%);
$colorsecundario: linear-gradient(90deg, rgba(2,0,27,1) 0%, rgba(5,5,92,1) 9%, rgba(10,178,212,1) 59%);
$colorfuente: #f0ffff;
$colorfuentehover: rgb(230, 126, 8);
