@import "variables"; 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import "headfootsub";

*{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
} 


/*------------INDEX-----------------*/

.row{
    margin: 0;
}

/*------------CUERPO INDEX-----------------*/

.cuerpoindex{
    @include flexbox (flex, row-reverse);
    margin: 0;
    padding: 0;
    .sectionsindex{
        padding: 0;
    &{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1.5fr 1fr;
        grid-template-areas: 
        "notice1 notice1"
        "notice2 notice3"}
    }
}

/*------------CUERPO INDEX-----------------*/

/*------------NOTICE1-----------------*/

.notice1{
    grid-area: notice1;
    @include flexbox (flex, column);
    margin-left: 2px;
    margin-top: 0.1%;
    .notice1__video{
        height: 100%;
        width: 100%;}
    .notice1__format{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 3%;
        padding-left: 3%;
        h2{
            font-weight: bold;}
    }
}


/*------------NOTICE2----------------*/

.notice2{
    grid-area: notice2;
    @include flexbox (flex, column-reverse);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-top: 0.1%;
    margin-bottom: 0.15%;
    margin-left: 2px;
    a{
        img{
        height: 100%;
        max-width: 100%;
        padding: 4%;}
        &:hover{
            height: 101%;
            width: 101%;}
    } 
    h3{
        padding-bottom: 2%;}
}

/*-------------NOTICE3----------------*/

.notice3{
    @include flexbox (flex, column-reverse);
    grid-area: notice3;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-left: 1px;
    margin-top: 0.1%;
    margin-bottom: 0.15%;
    a{
        img{
            height: 100%;
            max-width: 100%;
            padding: 4%;}
        &:hover{
            height: 101%;
            width: 101%;}
        }
    h3{
            padding-bottom: 2%;} 
}

/*-------------ASIDE------------------*/

.tabla{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    td{padding-left: 20px;
        width: 500px;}
    th{
        text-align: center;}
}

/*------------INDEX-----------------*/

/*------------ESTADISTICAS-----------------*/

/*--------------TABLA EST---------------*/

.tablaest{
    padding: 0;
    padding-left: 15px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    table{
        height: 700px;
        width: 100%;}
}

/*--------------NOTICIA 1 EST---------------*/

.sectionest1{
    @include flexbox (flex, column);
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    div{
        height: 700px;
        width: 100%;
        h3{
            text-align: center;
            text-decoration: underline;
            padding-top: 1%;
            margin-top: 50px;
            font-size: 40px;}
            
        p{
            padding-top: 2%;
            overflow: hidden;
            padding-left: 2%;
            padding-right: 2%;
            font-size: 20px;
            margin-top: 130px;}
    }
}

/*--------------NOTICIA 2 EST---------------*/

.sectionest2{
    @include flexbox (flex, column);
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    div{
        height: 700px;
        width: 100%;}
    h3{
        text-align: center;
        text-decoration: underline;
        padding-top: 1%;
        margin-top: 50px;
        font-size: 40px;}
    img{
        align-items: center;
        height: 400px;
        margin-top: 100px;
        padding: 3%;}
}

/*------------ESTADISTICAS-----------------*/


/*------------NOTICIAS-----------------*/

/*--------------SECTION 1 NOTICIAS---------------*/

.sectionnot1{
    @include flexbox (flex, row-reverse);
    justify-content: flex-end;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    h2{
        text-decoration: underline;
        padding-top: 1%;
        font-size: 2em;}
    p{
        padding-top: 2%;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1.5em;}
    img{
        height: 100%;
        max-width: 60em;}
}

/*--------------SECTION 2 NOTICIAS---------------*/

.sectionnot2{
    @include flexbox (flex, row-reverse);
    justify-content: flex-end;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    h2{
        text-decoration: underline;
        padding-top: 1%;
        font-size: 2em;}
    p{
        padding-top: 2%;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1.5em;}
    img{
        height: 100%;
        max-width: 60em;}
}

/*------------NOTICIAS-----------------*/


/*------------PARTIDOS-----------------*/

/*------------SECTION PARTIDOS-----------------*/

.galeria{ 
    display: flex;
    height: 700px;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    .carousel-inner div img{
        width: 900px;
        max-width: 900px;
        height: 700px;
        max-height: 700px;}
}

/*------------TABLA PARTIDOS-----------------*/

.tablapart{
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-bottom: 0.1%;
    h2{
        padding-top: 10px;
        text-align: center;
    }
    table{
        height: 40em;
        width: 70%;
        margin-left: 20%;
        tr td{
            width: 5000px;}
        }
}

/*------------PARTIDOS-----------------*/

/*------------POSICIONES-----------------*/

/*------------ TABLA POSICIONES-----------------*/

.tablapos{
    height: 900px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    h2{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    table{
        height: 90%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        th{
            padding-left: 10px;
            text-align: center;
        }
        td{
            text-align: center;
        }
        .posizq{
            text-align: left;
        }
    }
}

/*------------POSICIONES-----------------*/


/*------------LOG IN-----------------*/

/*------------LOG IN INGRESO-----------------*/

.formlog{
    display: flex;   
    width: 100%;
    margin-top: 0.1%;
    h2{
        padding-top: 1%;
        font-size: 3em;
        text-align: center;
        font-weight: bold;}
        div{
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            text-align: center;
            font-size: 2em;
            #nombre{
                height: 1em;
                width: 10em;
                font-size: 1em;}
            #pass{
                display: inline;
                height: 1em;
                width: 10em;
                font-size: 1em;}
            #ingresar{
                background: rgb(238, 152, 53);
                width: 5em;
                margin-bottom: 2em;}     
        }
    }

/*------------LOG IN REGISTRARSE-----------------*/

.divlog1{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    width: 100%;
    h2{
        padding-top: 1%;
        font-size: 3em;
        text-align: center;
        font-weight: bold;}
    p{
        padding-top: 3%;
        font-size: 1em;
        text-align: center;
        display: inline;}
    
    fieldset{
        font-size: 2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.8em;
        @include flexbox (flex, column);
        align-items: center;
        div label{
            @include flexbox (flex, column);
        }
        #nombrereg{
            height: 1em;
            width: 10em;
            font-size: 1em;} 
        #passreg{
            height: 1em;
            width: 10em;
            font-size: 1em;}
        #mailreg{
            height: 1em;
            width: 10em;
            font-size: 1em;}
        #socios{
            height: 1.3em;
            width: 10em;
            font-size: 1em;
            padding-top: 1px;
            padding-bottom: 1px;}
        #limpiar{
            background: rgb(238, 152, 53);
            width: 5em;}
        #enviar{
            background: rgb(238, 152, 53);
            width: 5em;}
        }
    }

/*------------LOG IN-----------------*/

/*------------INDEX-TABLET-----------------*/

@media (max-width: 1420px){  
    .body__index{
        height: 100%;
        .header{
            justify-content: space-between;
            .header__nav{
                margin-right: 15%;}
            }
        }
    }

@media (max-width: 1200px){ 
    .body__index{
        height: 100%;
        .header{
            justify-content: space-between;
            .header__nav{
                margin-right: 15%;}
            }
        }
    }

@media (max-width: 1075px){
    .header{
        justify-content: space-between;
        .header__nav{
            margin-right: 20%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
}

@media (max-width: 992px){
    .header{
        justify-content: space-between;
        font-size: 16px;
        .header__nav{
            margin-right: 25%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer__copy h5{
        font-size: 14px;}
}

@media (max-width: 960px){
    .header{
        justify-content: flex-start;
        font-size: 16px;}
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer__copy h3{
        font-size: 14px;}
}

@media (max-width: 800px){
    .header{
        justify-content: flex-start;
        font-size: 14px;}
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

@media (max-width: 680px){
    .header{
        justify-content: flex-start;
        font-size: 14px;
        .header__nav{
            margin-right: 25%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

@media (min-width: 576px) and (max-width: 679px){
    .header{
        justify-content: flex-start;
        height: 100%;
        font-size: 12px;
        .header__nav{
            margin-right: 10%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

/*------------INDEX-TABLET-----------------*/

/*------------INDEX-MOBILE-----------------*/

@media (max-width: 575.98px) {
    
    *{font-size: 13px;}

    .body__index{
        width: 100%;}
    .header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .header__home{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            padding-top: 5px;
            li a #logomenu{
                height: 2em;}
            }
        .header__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0 !important;
            li{
                list-style-type: none;
                padding-bottom: 10px;
                font-size: 15px;
                padding-left: 0;}
            }
        }
    .sectionsindex{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        grid-template-areas:
        "notice1"
        "notice2" 
        "notice3";}
    .notice1__video{
        height: 250px;}
    .notice2{
        margin-top: 2px;
        margin-bottom: 2px;
        a{
            height: 200px;
            &:hover{
                display: none;}
            }
        h3{
            text-align: center;}
    } 
    .notice3{
        margin-top: 2px;
        margin-bottom: 2px;
        a{
            height: 200px;
            &:hover{
                display: none;}
        }
        h3{
            text-align: center;
        }
    } 
    .tabla{
        margin-bottom: 2px;
        tr{
            th{
                padding-top: 5px;}
            td{ 
                padding-bottom: 10px;
                padding-top: 10px;
                img{
                    height: 30px;}
                }
        } 
    } 
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        .footer__social{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            li{
                padding-top: 10px;
                a{
                    padding-left: 0;}
            } 
        }
        .footer__copy{
            padding-bottom: 1%;
            padding-right: 0;
            padding-left: 10px;
            margin-right: 0;
            width: 100px;
            em{
                font-size: 7px;
                color: $colorfuente;}
        }
    }
}
    
/*------------INDEX-MOBILE-----------------*/



/*------------ESTADISTICAS-TABLET-----------------*/

@media (max-width: 1400px){
    .tablaest{
        font-size: 15px;
        img{
            height: 18px;}
        th{
            padding-left: 10px;}
        td{
            padding-left: 10px;}
    }
    .sectionest1{
        .sectionest1__cont p{
            font-size: 22px;
            margin-top: 50px;}
    }
    .sectionest2{
        img{
            height: 300px;
            width: 440px;}
    }
        
}

@media (max-width: 1200px){
    .tablaest{
        font-size: 15px;
        img{
            height: 18px;}
        th{
            padding-left: 10px;}
        td{
            padding-left: 10px;}
    }
    .sectionest1{
        .sectionest1__cont p{
            font-size: 20px;
            margin-top: 50px;}
    }
    .sectionest2{
        img{
            height: 250px;
            width: 370px;}
    }
        
}

@media (max-width: 1075px){
    .tablaest{
        font-size: 15px;
        img{
            height: 18px;}
        th{
            padding-left: 10px;}
        td{
            padding-left: 10px;}
    }
    .sectionest1{
        .sectionest1__cont p{
            font-size: 18px;
            margin-top: 50px;}
    }
    .sectionest2{
        img{
            height: 250px;
            width: 330px;}
    }
        
}

@media (max-width: 991px){
    .tablaest{
        font-size: 15px;
        img{
            height: 18px;}
        th{
            padding-left: 10px;}
        td{
            padding-left: 10px;}
    }
    .sectionest1{
        .sectionest1__cont p{
            font-size: 18px;
            margin-top: 50px;}
    }
    .sectionest2{
        img{
            height: 250px;
            width: 300px;}
    }
        
}

@media (max-width: 960px){
    .tablaest{
        font-size: 15px;
        img{
            height: 18px;}
        th{
            padding-left: 10px;}
        td{
            padding-left: 10px;}
    }
    .sectionest1{
        .sectionest1__cont p{
            font-size: 14px;
            margin-top: 50px;}
    }
    .sectionest2{
        img{
            height: 250px;
            width: 300px;}
    }
        
}

@media (max-width: 800px){
    .tablaest{
        width: 100%;
        height: 450px;
        overflow: scroll;}
    .sectionest1{
        width: 100%;
        height: 400px;
        overflow: scroll;
        div{
            h3{
                margin-top: 0;}
            p{
                margin-top: 10px;}
            }
        }
    .sectionest2{
        width: 100%;
        height: 350px; 
        align-items: center;
        h3{
            margin-top: 0;}
        img{
            height: 300px;
            width: 300px;
            margin-top: 0;}
    }
}

@media (max-width: 680px){
    .tablaest{
        width: 100%;
        height: 400px;
        overflow: scroll;}
    .sectionest1{
        width: 100%;
        height: 400px;
        overflow: scroll;
        div{
            h3{
                margin-top: 0;}
            p{
                margin-top: 10px;}
            } 
        }
    .sectionest2{
        width: 100%;
        height: 300px;
        align-items: center;
        h3{
            margin-top: 0;}
        img{
            height: 250px;
            width: 250px;
            margin-top: 0;}
    }
}

@media (min-width: 576px) and (max-width: 679px){
    .tablaest{
        width: 100%;
        height: 400px;
        overflow: scroll;}
    .sectionest1{
        width: 100%;
        height: 300px;
        overflow: scroll;
        div{
            h3{
                margin-top: 0;}
            p{
                margin-top: 10px;}
            } 
        }
    .sectionest2{
            width: 100%;
            h3{
                margin-top: 0;}
            img{
                margin-top: 0;} 
            }
}
    
/*------------ESTADISTICAS-TABLET-----------------*/

/*------------ESTADISTICAS-MOBILE-----------------*/

@media (max-width: 575.98px) {
    .main h1{
        padding-top: 25px;
        padding-left: 10px;
        b{
            font-size: 50px;}
    } 
    .tablaest{
        width: 100%;
        height: 400px;
        margin-top: 1px;
        overflow: scroll;
        padding-right: 15px;}
    .sectionest1{
        width: 100%;
        height: 430px;
        div{
            h3{
                margin-top: 0;}
            }
        .sectionest1__cont p{
            margin-top: 3px;} 
        }
    .sectionest2{
        width: 100%;
        margin-bottom: 1px;

        h3{
            margin-top: 0;}
        img{
            margin-top: 0;
            width: 280px;} 
        }
}
    
/*------------ESTADISTICAS-MOBILE-----------------*/

/*------------NOTICIAS TABLET-----------------*/

@media (max-width: 800px){
    .sectionnot1{
        div{
            font-size: 14px;}
        img{
            padding-top: 20px;}
    }  
    .sectionnot2{
        div{
            font-size: 14px;}
        img{
            padding-top: 20px;}
    }
} 
  
@media (max-width: 680px){
     .sectionnot1 img{
         padding-top: 40px;
         height: 400px;}
     .sectionnot2 img{
         padding-top: 40px;
         height: 400px;}
}
  
/*------------NOTICIAS TABLET-----------------*/
 
/*------------NOTICIAS MOBILE-----------------*/
 
@media (max-width: 499px){  
    .sectionnot1{
        margin-top: 1px;
        div{
            font-size: 12px;
            width: 100%;}
        img{
            width: 100%;
            padding-bottom: 10px;}    
    } 
    .sectionnot2{
        margin-top: 1px;
        margin-bottom: 1px;
        div{
            font-size: 12px;
            width: 100%;}
        img{
            width: 100%;
            padding-bottom: 10px;} 
    } 
}
 
@media (max-width: 320px){
    .sectionnot1{
        margin-top: 1px;
        img{
            height: 250px;}
    } 
    .sectionnot2{
        margin-top: 1px;
        margin-bottom: 1px;
        img{
            height: 250px;}
    }  
}
 
/*------------NOTICIAS MOBILE-----------------*/

/*------------PARTIDOS TABLET-----------------*/

@media (max-width: 1200px){ 
    .galeria{
        height: 1000px;
        max-height: 1000px;
        padding-left: 25px;
        padding-right: 25px;
        .carousel-inner{
            height: 1200px;
            max-height: 1200px;
            div img{
                width: 1100px;
                max-width: 1100px;
                height: 850px;
                max-height:850px;}
        }
    }  
    .tablapart{
        height: 800px;
        table{
            height: 90%;}
    }
}

@media (max-width: 1075px){
    .galeria{
        height: 900px;
        max-height: 900px;
        padding-left: 20px;
        padding-right: 20px;
        .carousel-inner{
            height: 1100px;
            max-height: 1100px;
            div img{
                width: 1100px;
                max-width: 1100px;
                height: 850px;
                max-height:850px;}
        }
    }
    .tablapart{
        height: 800px;
        table{
            height: 90%;
            margin-left: 70px;}
    }
}


@media (max-width: 960px){
    .galeria{
        height: 900px;
        max-height: 900px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 1000px;
            max-height: 1000px;
            div img{
                width: 1000px;
                max-width: 1000px;
                height: 850px;
                max-height:850px;}
        }
    }
    .tablapart{
        height: 700px;
        table{
            height: 90%;
            margin-left: 50px;}
    }
}

@media (max-width: 800px){
    .galeria{
        height: 800px;
        max-height: 800px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 900px;
            max-height: 900px;
            div img{
                width: 900px;
                max-width: 900px;
                height: 750px;
                max-height:750px;}
        }
    }
    .tablapart{
        height: 700px;
        table{
            height: 90%;
            margin-left: 50px;}
    }
}

@media (min-width: 500px) and (max-width: 679px){
    .galeria{
        height: 700px;
        max-height: 700px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 800px;
            max-height: 800px;
            div img{
                width: 800px;
                max-width: 800px;
                height: 650px;
                max-height:650px;}
        }
    }
    .tablapart{
        height: 600px;
        table{
            height: 90%;
            margin-left: 0px;}
    }
}

/*------------PARTIDOS TABLET-----------------*/

/*------------PARTIDOS MOBILE-----------------*/

@media (max-width: 499px){
    .galeria{
        height: 500px;
        max-height: 500px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 1px;
        margin-bottom: 1px;
        .carousel-inner{
            height: 450px;
            max-height: 450px;
            div img{
                width: 700px;
                max-width: 700px;
                height: 450px;
                max-height: 450px;}
        }     
    }
    .tablapart{
        height: 500px;
        table{
            height: 90%;
            margin-left: 0px;}
    }
}

@media (max-width: 330px){
    .galeria{
        height: 500px;
        max-height: 500px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 1px;
        margin-bottom: 1px;
        .carousel-inner{
            height: 450px;
            max-height: 450px;
            div img{
                width: 700px;
                max-width: 700px;
                height: 450px;
                max-height: 450px;}
        }     
    }
    .tablapart{
        height: 500px;
        table{
            height: 90%;
            margin-left: 0px;
            td{
                font-size: 11px;}
        td img{
            height: 23px;
        }}
    }
}

/*------------PARTIDOS MOBILE-----------------*/

/*------------POSICIONES MOBILE-----------------*/

@media (max-width: 499px){
    .tablapos{
        height: 600px;
        margin-top: 1px;
        table{
            height: 90%;
            width: 95%;
            margin-left: 0;
            margin-right: 0;
            th{
                font-size: 9px;}
            td{
                font-size: 9px;
                b{
                    font-size: 9px;}
            }
        }
        td img{
            height: 11px;}
    }
}



/*------------POSICIONES MOBILE-----------------*/

/*------------LOG IN TABLET-----------------*/

@media (max-width: 1420px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 1200px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (max-width: 1075px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (max-width: 992px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 960px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 800px){
    .divlog1 fieldset{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (min-width: 321px) and (max-width: 679px){
    .formlog{
        margin-top: 1px;
        margin-bottom: 1px;
        div{
            #nombre{
                height: 2em;}
            #pass{
                height: 2em;}
            }
    } 
    .divlog1 fieldset{
        padding-left: 0;
        margin:0;
        margin-bottom: 1px;
        #nombrereg{
            height: 2em;} 
        #passreg{
            height: 2em;}
        #mailreg{
            height: 2em;}
        #socios{
            height: 2em;}
        #enviar{
            margin-top: 3px;
            margin-bottom: 3px;}
        #limpiar{
            margin-top: 3px;}
        }
}

/*------------LOG IN TABLET-----------------*/

/*------------LOG IN MOBILE-----------------*/

@media (max-width: 320px){
    .body__login{
        width: 320px;
        max-width: 320px;}
    .formlog{
        width: 320px;
        max-width: 320px;
        margin-top: 1px;
        margin-bottom: 1px;
        h2{
            font-size: 14px;}
        div{
            #nombre{
                height: 2em;}
            #pass{
                height: 2em;}
        }    
    }
    .divlog1{
        width: 320px;
        max-width: 320px;
        margin-bottom: 1px;
        h2{
            font-size: 14px;}
        fieldset{
            padding: 0;
            margin-left: 0px;
            margin-right: 0px;
            #nombrereg{
                height: 2em;} 
            #passreg{
                height: 2em;}
            #mailreg{
                height: 2em;}
            #socios{
                height: 2em;}
            #enviar{
                margin-top: 3px;
                margin-bottom: 3px;}
            #limpiar{
                margin-top: 3px;}
                }        
    }
}

/*------------LOG IN MOBILE-----------------*/