@import "variables"; 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import "headfootsub";

*{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
} 


/*------------INDEX-----------------*/

.row{
    margin: 0;
}

/*------------CUERPO INDEX-----------------*/

.cuerpoindex{
    @include flexbox (flex, row-reverse);
    margin: 0;
    padding: 0;
    .sectionsindex{
        padding: 0;
    &{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1.5fr 1fr;
        grid-template-areas: 
        "notice1 notice1"
        "notice2 notice3"}
    }
}

/*------------CUERPO INDEX-----------------*/

/*------------NOTICE1-----------------*/

.notice1{
    grid-area: notice1;
    @include flexbox (flex, column);
    margin-left: 2px;
    margin-top: 0.1%;
    .notice1__video{
        height: 100%;
        width: 100%;}
    .notice1__format{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-right: 3%;
        padding-left: 3%;
        h2{
            font-weight: bold;}
    }
}


/*------------NOTICE2----------------*/

.notice2{
    grid-area: notice2;
    @include flexbox (flex, column-reverse);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-top: 0.1%;
    margin-bottom: 0.15%;
    margin-left: 2px;
    a{
        img{
        height: 100%;
        max-width: 100%;
        padding: 4%;}
        &:hover{
            height: 101%;
            width: 101%;}
    } 
    h3{
        padding-bottom: 2%;}
}

/*-------------NOTICE3----------------*/

.notice3{
    @include flexbox (flex, column-reverse);
    grid-area: notice3;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
    margin-left: 1px;
    margin-top: 0.1%;
    margin-bottom: 0.15%;
    a{
        img{
            height: 100%;
            max-width: 100%;
            padding: 4%;}
        &:hover{
            height: 101%;
            width: 101%;}
        }
    h3{
            padding-bottom: 2%;} 
}

/*-------------ASIDE------------------*/

.tabla{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
}

/*------------INDEX-----------------*/

/*------------ESTADISTICAS-----------------*/

/*--------------TABLA EST---------------*/

.tablaest{
    padding: 0;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    table{
        height: 700px;
        width: 100%;}
}

/*--------------NOTICIA 1 EST---------------*/

.sectionest1{
    @include flexbox (flex, column);
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    div{
        height: 700px;
        width: 100%;
        h3{
            text-align: center;
            text-decoration: underline;
            padding-top: 1%;}
        p{
            padding-top: 2%;
            overflow: hidden;
            padding-left: 2%;
            padding-right: 2%;}
    }
}

/*--------------NOTICIA 2 EST---------------*/

.sectionest2{
    @include flexbox (flex, column);
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    div{
        height: 700px;
        width: 100%;}
    h3{
        text-align: center;
        text-decoration: underline;
        padding-top: 1%;}
    img{
        align-items: center;
        padding: 3%;}
}

/*------------ESTADISTICAS-----------------*/


/*------------NOTICIAS-----------------*/

/*--------------SECTION 1 NOTICIAS---------------*/

.sectionnot1{
    @include flexbox (flex, row-reverse);
    justify-content: flex-end;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    h2{
        text-decoration: underline;
        padding-top: 1%;
        font-size: 2em;}
    p{
        padding-top: 2%;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1.5em;}
    img{
        height: 100%;
        max-width: 60em;}
}

/*--------------SECTION 2 NOTICIAS---------------*/

.sectionnot2{
    @include flexbox (flex, row-reverse);
    justify-content: flex-end;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    h2{
        text-decoration: underline;
        padding-top: 1%;
        font-size: 2em;}
    p{
        padding-top: 2%;
        overflow: hidden;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1.5em;}
    img{
        height: 100%;
        max-width: 60em;}
}

/*------------NOTICIAS-----------------*/


/*------------PARTIDOS-----------------*/

/*------------SECTION PARTIDOS-----------------*/

.galeria{ 
    display: flex;
    height: 700px;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    .carousel-inner div img{
        width: 900px;
        max-width: 900px;
        height: 700px;
        max-height: 700px;}
}

/*------------TABLA PARTIDOS-----------------*/

.tablapart{
    height: auto;
    margin-bottom: 0.1%;
    table{
        height: 60em;
        width: 100%;}
}

/*------------PARTIDOS-----------------*/


/*------------POSICIONES-----------------*/

/*------------ TABLA POSICIONES-----------------*/

.tablapos{
    height: 900px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    table{
        height: 100%;
        width: 100%;
    }
}

/*------------POSICIONES-----------------*/


/*------------LOG IN-----------------*/

/*------------LOG IN INGRESO-----------------*/

.formlog{
    display: flex;   
    width: 100%;
    margin-top: 0.1%;
    h2{
        padding-top: 1%;
        font-size: 3em;
        text-align: center;
        font-weight: bold;}
        div{
            padding-top: 0.5%;
            padding-bottom: 0.5%;
            text-align: center;
            font-size: 2em;
            #nombre{
                height: 1.5em;
                width: 8em;
                font-size: 1.5em;}
            #pass{
                display: inline;
                height: 1.5em;
                width: 8em;
                font-size: 1.5em;}
            #ingresar{
                background: rgb(238, 152, 53);
                width: 5em;
                margin-bottom: 2em;}     
        }
    }

/*------------LOG IN REGISTRARSE-----------------*/

.divlog1{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    width: 100%;
    h2{
        padding-top: 1%;
        font-size: 3em;
        text-align: center;
        font-weight: bold;}
    p{
        padding-top: 3%;
        font-size: 1em;
        text-align: center;
        display: inline;}
    
    fieldset{
        font-size: 2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.8em;
        @include flexbox (flex, column);
        align-items: center;
        #nombrereg{
            width: 8em;
            height: 2em;
            font-size: 1em;} 
        #passreg{
            width: 8em;
            height: 2em;
            font-size: 1em;}
        #mailreg{
            width: 8em;
            height: 2em;
            font-size: 1em;}
        #socios{
            width: 8em;
            height: 2em;
            font-size: 1em;}
        #limpiar{
            background: rgb(238, 152, 53);
            width: 5em;}
        #enviar{
            background: rgb(238, 152, 53);
            width: 5em;}
        }
    }

/*------------LOG IN-----------------*/

/*------------INDEX-TABLET-----------------*/

@media (max-width: 1420px){  
    .body__index{
        height: 100%;
        .header{
            justify-content: space-between;
            .header__nav{
                margin-right: 15%;}
            }
        }
    }

@media (max-width: 1200px){ 
    .body__index{
        height: 100%;
        .header{
            justify-content: space-between;
            .header__nav{
                margin-right: 15%;}
            }
        }
    }

@media (max-width: 1075px){
    .header{
        justify-content: space-between;
        .header__nav{
            margin-right: 20%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
}

@media (max-width: 992px){
    .header{
        justify-content: space-between;
        font-size: 16px;
        .header__nav{
            margin-right: 25%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer__copy h5{
        font-size: 14px;}
}

@media (max-width: 960px){
    .header{
        justify-content: flex-start;
        font-size: 16px;}
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer__copy h3{
        font-size: 14px;}
}

@media (max-width: 800px){
    .header{
        justify-content: flex-start;
        font-size: 14px;}
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

@media (max-width: 680px){
    .header{
        justify-content: flex-start;
        font-size: 14px;
        .header__nav{
            margin-right: 25%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

@media (min-width: 576px) and (max-width: 679px){
    .header{
        justify-content: flex-start;
        height: 100%;
        font-size: 12px;
        .header__nav{
            margin-right: 10%;}
    }
    .tabla{
        width: 100%;}
    .sectionsindex{
        width: 100%;}
    .footer{
        font-size: 12px;
        .footer__copy h3{
            font-size: 12px;}
    }
}

/*------------INDEX-TABLET-----------------*/

/*------------INDEX-MOBILE-----------------*/

@media (max-width: 575.98px) {
    
    *{font-size: 13px;}

    .body__index{
        width: 100%;}
    .header{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .header__home{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            li a #logomenu{
                height: 2em;}
            }
        .header__nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 0 !important;
            li{
                list-style-type: none;
                padding-left: 0;}
            }
        }
    .sectionsindex{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        grid-template-areas:
        "notice1"
        "notice2" 
        "notice3";}
    .notice1__video{
        height: 250px;}
    .notice2 a{
        height: 200px;}
    .notice3 a{
            height: 200px;}
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        .footer__social{
            display: flex;
            flex-direction: column;
            align-items: center;
            li a{
                padding-left: 0;}
        }
        .footer__copy{
            padding-bottom: 1%;
            padding-right: 0;
            padding-left: 16px;
            margin-right: 0;
            width: 100px;
            em{
                font-size: 7px;
                color: $colorfuente;}
        }
    }
}
    
/*------------INDEX-MOBILE-----------------*/

/*------------ESTADISTICAS-TABLET-----------------*/


@media (max-width: 960px){
    .sectionest1__cont p{
        font-size: 14px;}    
}

@media (max-width: 800px){
    .tablaest{
        width: 100%;
        height: 450px;}
    .sectionest1{
        width: 100%;
        height: 400px;}
    .sectionest2{
        width: 100%;
        height: 350px; 
        align-items: center;
        img{
            height: 300px;
            width: 300px;}
    }
}

@media (max-width: 680px){
    .tablaest{
        width: 100%;
        height: 400px;}
    .sectionest1{
        width: 100%;
        height: 400px;}
    .sectionest2{
        width: 100%;
        height: 300px;
        align-items: center;
        img{
            height: 250px;
            width: 250px;}
    }
}

@media (min-width: 576px) and (max-width: 679px){
    .tablaest{
        width: 100%;
        height: 400px;}
    .sectionest1{
        width: 100%;
        height: 300px;}
    .sectionest2{
        width: 100%;}
}
    
/*------------ESTADISTICAS-TABLET-----------------*/

/*------------ESTADISTICAS-MOBILE-----------------*/

@media (max-width: 575.98px) {
    .main h1 b{
        font-size: 50px;}
    .tablaest{
        width: 100%;
        height: 400px;
        overflow: scroll;}
    .sectionest1{
        width: 100%;
        height: 300px;
        overflow: scroll;}
    .sectionest2{
        width: 100%;}
}
    
/*------------ESTADISTICAS-MOBILE-----------------*/

/*------------NOTICIAS TABLET-----------------*/

@media (max-width: 800px){
    .sectionnot1{
        div{
            font-size: 14px;}
        img{
            padding-top: 20px;}
    }  
    .sectionnot2{
        div{
            font-size: 14px;}
        img{
            padding-top: 20px;}
    }
} 
  
@media (max-width: 680px){
     .sectionnot1 img{
         padding-top: 40px;
         height: 400px;}
     .sectionnot2 img{
         padding-top: 40px;
         height: 400px;}
}
  
/*------------NOTICIAS TABLET-----------------*/
 
/*------------NOTICIAS MOBILE-----------------*/
 
@media (max-width: 499px){  
    .sectionnot1{
        div{
            font-size: 12px;
            width: 100%;}
        img{
            width: 100%;
            padding-bottom: 10px;}    
    } 
    .sectionnot2{
        div{
            font-size: 12px;
            width: 100%;}
        img{
            width: 100%;
            padding-bottom: 10px;} 
    } 
}
 
@media (max-width: 320px){
    .sectionnot1 img{
         height: 250px;}
    .sectionnot2 img{
         height: 250px;} 
}
 
/*------------NOTICIAS MOBILE-----------------*/

/*------------PARTIDOS TABLET-----------------*/

@media (max-width: 1200px){ 
    .galeria{
        height: 1000px;
        max-height: 1000px;
        padding-left: 25px;
        padding-right: 25px;
        .carousel-inner{
            height: 1200px;
            max-height: 1200px;
            div img{
                width: 1100px;
                max-width: 1100px;
                height: 850px;
                max-height:850px;}
        }
    }  
    .tablapart{
        height: 800px;
        table{
            height: 100%;}
    }
}

@media (max-width: 1075px){
    .galeria{
        height: 900px;
        max-height: 900px;
        padding-left: 20px;
        padding-right: 20px;
        .carousel-inner{
            height: 1100px;
            max-height: 1100px;
            div img{
                width: 1100px;
                max-width: 1100px;
                height: 850px;
                max-height:850px;}
        }
    }
    .tablapart{
        height: 800px;
        table{
            height: 100%;}
    }
}


@media (max-width: 960px){
    .galeria{
        height: 900px;
        max-height: 900px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 1000px;
            max-height: 1000px;
            div img{
                width: 1000px;
                max-width: 1000px;
                height: 850px;
                max-height:850px;}
        }
    }
    .tablapart{
        height: 700px;
        table{
            height: 100%;}
    }
}

@media (max-width: 800px){
    .galeria{
        height: 800px;
        max-height: 800px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 900px;
            max-height: 900px;
            div img{
                width: 900px;
                max-width: 900px;
                height: 750px;
                max-height:750px;}
        }
    }
    .tablapart{
        height: 700px;
        table{
            height: 100%;}
    }
}

@media (min-width: 500px) and (max-width: 679px){
    .galeria{
        height: 700px;
        max-height: 700px;
        padding-left: 15px;
        padding-right: 15px;
        .carousel-inner{
            height: 800px;
            max-height: 800px;
            div img{
                width: 800px;
                max-width: 800px;
                height: 650px;
                max-height:650px;}
        }
    }
    .tablapart{
        height: 600px;
        table{
            height: 100%;}
    }
}

/*------------PARTIDOS TABLET-----------------*/

/*------------PARTIDOS MOBILE-----------------*/

@media (max-width: 499px){
    .galeria{
        height: 500px;
        max-height: 500px;
        padding-left: 10px;
        padding-right: 10px;
        .carousel-inner{
            height: 450px;
            max-height: 450px;
            div img{
                width: 700px;
                max-width: 700px;
                height: 450px;
                max-height: 450px;}
        }     
    }
    .tablapart{
        height: 500px;
        table{
            height: 100%;}
    }
}

/*------------PARTIDOS MOBILE-----------------*/

/*------------POSICIONES MOBILE-----------------*/

@media (max-width: 499px){
    .tablapos{
        height: 600px;}
}

/*------------POSICIONES MOBILE-----------------*/

/*------------LOG IN TABLET-----------------*/

@media (max-width: 1420px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 1200px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (max-width: 1075px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (max-width: 992px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 960px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 800px){
    .divlog1 fieldset{
        padding-left: 5px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}


@media (min-width: 500px) and (max-width: 679px){
    .divlog1 fieldset{
        margin:0;}
}

/*------------LOG IN TABLET-----------------*/

/*------------LOG IN MOBILE-----------------*/

@media (max-width: 499px){
    .body__login{
        width: 100%;
        max-width: 499px;}
    .divlog1 fieldset{
        padding-left: 35px;
        padding-right: 0;
        margin-left: 0px;
        margin-right: 0px;}
}

@media (max-width: 320px){
    .body__login{
        width: 320px;
        max-width: 320px;}
    .formlog{
        width: 320px;
        max-width: 320px;
        h2{
            font-size: 14px;}
    }
    .divlog1{
        width: 320px;
        max-width: 320px;
        h2{
            font-size: 14px;}
        fieldset{
            padding: 0;
            margin-left: 0px;
            margin-right: 0px;}
    }
}

/*------------LOG IN MOBILE-----------------*/