@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
} 

/*------------INDEX-----------------*/

.body__index{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.25fr 1.5fr 0.3fr 0.25fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header header header"
    "tabla notice1 notice1"
    "tabla notice2 notice3"
    "footer footer footer";
}

/*------------ENCABEZADO---------------*/

.header{
    background-color: #590404; 
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    font-size: 1em;
    height: 9em;
}

.header__home{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.header__nav{
    display: inline-flex;
    align-items: center; 
    margin-right: 4%;
}
.header__nav--li{
    list-style-type: none;
    padding-left: 4em;
}
.header__nav--li--a{
    color: #f0ffff;
    text-decoration: none;     
}

/*------------NOTICE1-----------------*/

.notice1{
    grid-area: notice1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
}

.notice1__video{
    height: 100%;
    width: 100%; 
    }

.notice1__format{
    flex-grow: 1;
    text-align: center;
}

/*------------NOTICE2----------------*/

.notice2{
    grid-area: notice2;
    display: flex;
    flex-direction: column-reverse;
    border-style: solid;
    border-color: #000;
    background-color: #700d0d;
    color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}

.notice2__img{
    max-height: 80%;
    max-width: 100%;
}


/*-------------NOTICE3----------------*/

.notice3{
    grid-area: notice3;
    display: flex;
    flex-direction: column-reverse;
    border-style: solid;
    border-color: #000;
    background-color: #700d0d;
    color: rgb(252, 252, 252);
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}

.notice3__img{
    max-height: 80%;
    max-width: 100%;
}


/*-------------ASIDE------------------*/

.table{
    grid-area: tabla;
    border-style: solid;
    border-color: #700d0d;
    height: auto;
}

.table table{
    height: 100%;
}

/*--------------FOOTER---------------*/

.footer{
    background-color: #590404; 
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.footer__social{
    margin-left: 4%;
    display: inline-flex;
}

.footer__social--li{
    text-decoration: none;
    list-style-type: none;
}

.footer__social--li--a{
    text-decoration: none;
    list-style: none;
    color: #f0ffff;
    padding-left: 4em;
}
.footer__copy{
    margin-right: 4%;
}

/*------------INDEX-----------------*/

/*------------INDEX-TABLET-----------------*/

@media (max-width: 800px){
    
      .body__index{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 0.25fr 1.5fr 0.3fr 0.3fr 0.25fr;
            grid-template-areas: 
            "header header header"
            "tabla notice1 notice1"
            "tabla notice2 notice2"
            "tabla notice3 notice3"
            "footer footer footer"
        }
}

/*------------INDEX-TABLET-----------------*/

/*------------INDEX-MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__index{
        width: 100%;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: 0.25fr 1.5fr 0.3fr 0.3fr 0.25fr;
          grid-template-areas: 
          "header header"
          "tabla notice1"
          "tabla notice2"
          "tabla notice3"
          "footer footer"
      }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__home{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .header__nav--li{
        list-style-type: none;
        padding-left: 0;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .footer__social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     
    .footer__social--li--a{
        padding-left: 0;
    }

    .footer__copy{
        margin-right: 0;
        padding-bottom: 2%;
        font-size: 20px;
    }
    
}
/*------------INDEX-MOBILE-----------------*/

/*------------ESTADISTICAS-----------------*/

.body__stats{
    z-index: -1;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 1.5fr 0.3fr 0.25fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header header header"
    "main main main"
    "tablaest sectionest1 sectionest2"
    "tablaest sectionest1 sectionest2"
    "footer footer footer";
}

/*--------------SUBTITULO EST---------------*/

.mainest{
    grid-area: main;   
    background-color: #590404; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 9em;
    display: inline-block;
    width: 100%;
    position: relative;
}

.mainest h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;
}
/*--------------TABLA EST---------------*/

.tablaest{
    grid-area: tablaest;
    border-style: solid;
    border-color: #700d0d;
    height: auto;
}

.tablaest table{
    height: 100%;
    width: 100%;
}

/*--------------NOTICIA 1 EST---------------*/

.sectionest1{
    grid-area: sectionest1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
}

.sectionest1 div{
    height: 100%;
    width: 100%;
}

.sectionest1 div h3{
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
}

.sectionest1 div p{
    padding-top: 2%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

/*--------------NOTICIA 2 EST---------------*/

.sectionest2{
    grid-area: sectionest2;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
}

.sectionest2 h3{
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
}

.sectionest2 img{
    align-items: center;
    padding: 3%
}

/*------------ESTADISTICAS-----------------*/

/*------------ESTADISTICAS-TABLET-----------------*/

@media (max-width: 800px){
    
    .body__stats{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0.25fr 0.25fr 1fr 1fr 0.25fr;
        grid-template-areas: 

        "header header"
        "main main"
        "tablaest sectionest1 "
        "tablaest sectionest2"
        "footer footer"
      }
}

/*------------ESTADISTICAS-TABLET-----------------*/


/*------------ESTADISTICAS-MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__stats{
        width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 0.25fr 0.3fr 0.3fr 0.3fr 0.3fr 0.25fr;
          grid-template-areas: 
        "header"
        "main"
        "tablaest"
        "sectionest1"
        "sectionest2"
        "footer"
    }
}

/*------------ESTADISTICAS-MOBILE-----------------*/

/*------------NOTICIAS-----------------*/

.body__noticias{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.05fr 5fr 5fr 0.7fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header"
    "mainnoticias"
    "sectionnot1"
    "sectionnot2"
    "footer";
}


/*--------------SUBTITULO NOTICIAS---------------*/

.mainnoticias{
    grid-area: mainnoticias;   
    background-color: #590404;
    height: 9em;
    width: 100%;
    position: relative;
}

.mainnoticias h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;}

/*--------------SECTION 1 NOTICIAS---------------*/

.sectionnot1{
    grid-area: sectionnot1;
    display: flex;
    flex-direction: row-reverse;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
    align-items: stretch;
}

.sectionnot1{
    height: 99%;
    width: 99%;
}
.sectionest1 div{
    display: flex;
    flex-direction: column;
}

.sectionnot1 h3{
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
}

.sectionnot1 p{
    padding-top: 2%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

.sectionnot1 img{
    height: 100%;
    max-width: 60em;
}



/*--------------SECTION 2 NOTICIAS---------------*/

.sectionnot2{
    grid-area: sectionnot2;
    display: flex;
    flex-direction: row-reverse;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
    align-items: stretch;
}

.sectionnot2{
    height: 99%;
    width: 99%;
}
.sectionest2 div{
    display: flex;
    flex-direction: column;
}

.sectionnot2 h3{
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
}

.sectionnot2 p{
    padding-top: 2%;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}


.sectionnot2 img{
    height: 100%;
    max-width: 60em;
}


/*------------NOTICIAS-----------------*/

/*------------NOTICIAS TABLET-----------------*/

@media (max-width: 800px){
    
    .body__noticias{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.05fr 5fr 5fr 0.9fr;
        grid-template-areas: 

        "header"
        "mainnoticias"
        "sectionnot1"
        "sectionnot2"
        "footer"
      }

    .body__noticias{
          height: 100%;
          width: 100%;
      }

    .sectionnot1{
        display: flex;
        flex-direction: column;
    }  

    .sectionnot2{
        display: flex;
        flex-direction: column;
    }  

    .sectionnot1 img{
        height: 100%;
        width: 49.4em;
    }
    

    .sectionnot2 img{
        height: 100%;
        width: 49.4em;
    }

}

/*------------NOTICIAS TABLET-----------------*/

/*------------NOTICIAS MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__noticias{
        width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 0.1fr 0.05fr 3fr 3fr 0.9fr;
          grid-template-areas: 
          "header"
          "mainnoticias"
          "sectionnot1"
          "sectionnot2"
          "footer"
    }

    .sectionnot1{
        align-items: center;
    }

    .sectionnot1 img{
        height: 97%;
        max-width: 20em;
        padding-top: 1%;
        padding-bottom: 1%;

        
    }

    .sectionnot2{
        align-items: center;
    }

    .sectionnot2 img{
        height: 97%;
        max-width: 20em;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    
}

/*------------NOTICIAS MOBILE-----------------*/


/*------------PARTIDOS-----------------*/

.body__partidos{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.05fr 3fr 5fr 0.7fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header"
    "mainpartidos"
    "sectionpart1"
    "tablapart"
    "footer";
}

/*------------SUBTITULO PARTIDOS-----------------*/

.mainpartidos{
    grid-area: mainpartidos;   
    background-color: #590404;
    height: 9em;
    width: 100%;
    position: relative;
}

.mainpartidos h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;}

/*------------SECTION PARTIDOS-----------------*/

.sectionpart1{
    grid-area: sectionpart1;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color:#000;
    background-color:#700d0d;
    color: rgb(255, 255, 255);
    align-items: stretch;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sectionpart1__img1{
    align-items: stretch;
    width: 32.5em;
}

.sectionpart1__img2{
    align-items: stretch;
    width: 32.5em;
}

.sectionpart1__img3{
    align-items: stretch;
    width: 32.5em;
}
/*------------TABLA PARTIDOS-----------------*/

.tablapart{
    grid-area: tablapart;
    border-style: solid;
    border-color: #700d0d;
    height: auto;
}

.tablapart table{
    height: 100%;
    width: 100%;
}

/*------------PARTIDOS-----------------*/

/*------------PARTIDOS TABLET-----------------*/

@media (max-width: 800px){
    
    .body__partidos{
        grid-template-columns: 2fr;
        grid-template-rows: 0.1fr 0.05fr 5fr 1fr 0.9fr;
        grid-template-areas: 

        "header"
        "mainpartidos"
        "tablapart"
        "sectionpart1"
        "footer"
      }

    .sectionpart1__img1{
        align-items: stretch;
        width: 15em;
    }
    
    .sectionpart1__img2{
        align-items: stretch;
        width: 15em;
    }
    
    .sectionpart1__img3{
        align-items: stretch;
        width: 15em;
    }
  
   
}


/*------------PARTIDOS TABLET-----------------*/


/*------------PARTIDOS MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__partidos{
        max-width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 0.25fr 0.1fr 1.5fr 0.2fr 0.05fr;
          grid-template-areas: 
        
        "header"
        "mainpartidos"
        "sectionpart1"
        "tablapart"
        "footer" 
    }
    
    .sectionpart1{
        grid-area: sectionpart1;
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-color:#000;
        background-color:#700d0d;
        color: rgb(255, 255, 255);
        align-items: center;
        max-width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .sectionpart1__img1{
        align-items: stretch;
        width: 20em;
    }
    
    .sectionpart1__img2{
        align-items: stretch;
        width: 20em;
    }
    
    .sectionpart1__img3{
        align-items: stretch;
        width: 20em;
    }

}

/*------------PARTIDOS MOBILE-----------------*/



/*------------POSICIONES-----------------*/

.body__posiciones{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.05fr 5fr 0.7fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header"
    "mainpos"
    "tablapos"
    "footer";
}

/*------------SUBTITULO POSICIONES-----------------*/

.mainpos{
    grid-area: mainpos;   
    background-color: #590404;
    height: 9em;
    width: 100%;
    position: relative;
}

.mainpos h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;}

/*------------ TABLA POSICIONES-----------------*/

.tablapos{
    grid-area: tablapos;
    border-style: solid;
    border-color: #700d0d;
    height: auto;
}

.tablapos table{
    height: 100%;
    width: 100%;
}

/*------------POSICIONES-----------------*/

/*------------POSICIONES TABLET-----------------*/

@media (max-width: 800px){
    
    .body__posiciones{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.05fr 3fr 0.6fr;
        grid-template-areas: 

    "header"
    "mainpos"
    "tablapos"
    "footer"
      }
    }
/*------------POSICIONES TABLET-----------------*/

/*------------POSICIONES MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__posiciones{
        width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 0.1fr 0.05fr 3fr 0.9fr;
          grid-template-areas: 
        "header"
        "mainpos"
        "tablapos"
        "footer"
    }
}

/*------------POSICIONES MOBILE-----------------*/



/*------------LOG IN-----------------*/

.body__login{
    z-index: -1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.05fr 5fr 0.7fr;
    grid-row-gap: 0.2%;
    grid-column-gap: 0.2%; 

    grid-template-areas: 
    "header header"
    "mainlog mainlog"
    "formlog divlog1"
    "footer footer";
}

/*------------SUBTITULO LOG IN-----------------*/

.mainlog{
    grid-area: mainlog;   
    background-color: #590404;
    height: 9em;
    width: 100%;
    position: relative;
}

.mainlog h1{
    color: rgb(255, 255, 255);
    font-size: 4em;
    height: 100%;
    padding-top: 2%;
    padding-left: 2%;}

/*------------LOG IN INGRESO-----------------*/

.formlog{
    grid-area: formlog;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(116, 8, 8); opacity: 95%;
    color: #f0f8ff;
    display: inline;   
}


.formlog h3{
    padding-top: 10%;
    font-size: 3em;
    text-align: center;
}

.formlog div{
    padding-top: 10%;
    text-align: center;
    font-size: 2.5em;
}

#nombre{
    height: 2em;
    width: 25em;
    font-size: 0.5em;
}

#pass{
    display: inline;
    height: 2em;
    width: 25em;
    font-size: 0.5em;
}

#ingresar{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}



/*------------LOG IN REGISTRARSE-----------------*/

.divlog1{
    grid-area: divlog1;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(116, 8, 8); opacity: 95%;
    color: #f0f8ff;
    display: inline;
}

.divlog1 h3{
    padding-top: 7%;
    font-size: 3em;
    text-align: center;
}

.divlog1__p{
    padding-top: 3%;
    font-size: 1em;
    text-align: center;
}

.divlog1 fieldset{
    margin-top: 10%;
    font-size: 2em;
    margin: 1em;
    padding: 1em;
}

.divlog1 p{
    display: inline-block;
}

#nombrereg{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}

#passreg{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}

#mailreg{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}

#socios{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}

#limpiar{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;
}

#enviar{
    display: inline;
    width: 15em;
    height: 2em;
    font-size: 0.5em;    
}

/*------------LOG IN-----------------*/

/*------------LOG IN TABLET-----------------*/

@media (max-width: 800px){
    
    .body__login{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.05fr 3fr 3fr 0.6fr;
        grid-template-areas: 

        "header"
        "mainlog"
        "formlog" 
        "divlog1"
        "footer"
      }
    }

/*------------LOG IN TABLET-----------------*/

/*------------LOG IN MOBILE-----------------*/

@media (max-width: 499px){
    
    .body__login{
        width: 100%;
          grid-template-columns: 1fr;
          grid-template-rows: 0.1fr 0.05fr 3fr 3fr 0.6fr;
          grid-template-areas: 
          "header"
          "mainlog"
          "formlog" 
          "divlog1"
          "footer"
    }

    .formlog{
        width: 100%;
    }
}

/*------------LOG IN MOBILE-----------------*/


